*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    margin: 15px;
    position: relative;
}

/*center navbar*/
.navbar {
    float: right;
    width: 65%;
    background-color: #424242;
    overflow: hidden;
    border-radius: 65px;
  }
  
  .navbar a {
    float: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }

  .navbar .active{
    background: black;
  }

  .container {
    margin-top: 20px;
    background-color: #424242;
    overflow: hidden;
    border-radius: 40px;
    width: 30%;
  }

   .container a{
    float: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 17px;
    width: 33.3333%;
    text-align: center;
   }

   .container a:hover{
     background-color: black;
   }

   .container .active{  
     background-color: black;
   }

   .header{
     margin-top: 20px;
     font-size: 30px;
     margin: auto;
   }

   .listcontainer{
     display: grid;
     margin-top: 20px;
     background-color: #424242;
     overflow: hidden;
     border-radius: 30px;
   }

   .listcontainer a {
     grid-template-columns: 10% 20% 40% 30%;
     padding: 5px;
   }

   .addToList {
     display: grid;
     margin-top: 20px;
     background-color: #424242;
     overflow: hidden;
     border-radius: 30px;
   }

   .addform {
     margin-top: 20px;
     width: 30%;
     background-color: #424242;
     border-radius: 65px;
   }

   .addform a{
     text-align: center;
     text-decoration: none;
     color: white;
    width: 30%;
   }

   .addform a:hover {
     background-color: black;
   }

   .addform input {
     display: inline-flexbox;
     height: 3rem;
     width: 80%;
     border-top-left-radius: 65px;
     border-bottom-left-radius: 65px;
     padding: 1em;
     font-size: 1rem;
   }

   .addtext {
     width: 100%;
     height: 100%;
   }

   .addbutton{
     display: inline-flex;
     overflow: hidden;
   }

   .addbutton a{
    font-size: 1.2em;
    float: right;
    text-decoration: none;
   }

   .addbutton a:hover{
     background-color: black;
   }

  .footerlinks{
    margin: auto;
    width: 30%;
    background-color: #424242;
    overflow: hidden;
    border-radius: 65px;
    text-decoration: none;
  }

  .footerlinks a{
    float: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 17px;
    width: 50%;
    text-align: center;
  }

  .footerlinks a:hover{
    background-color: #000;
  }
