*{
    padding: 0;
    margin: 0;
}

body{
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    margin: 15px;
    position: relative;
}

/*center navbar*/
.navbar {
    background-color: #424242;
    overflow: hidden;
    width: 80%;
    border-radius: 65px;
    margin: auto;
    position: relative;
  }
  
  .navbar a {
    float: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    font-size: 17px;
    width: 20%;
    text-align: center;
  }
  
  .navbar a:hover {
    background-color: #000;
  }

  .active{
  background: black;
  }

  .menu {
    padding-top:60px;
    overflow: auto;
    background-color: black;
    font-family: Arial;
    width: 100%;
  }
 
  .menu a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    width: 100%;
    color: black;
  }

  .container{
    background-color: #424242;
    overflow: hidden;
    width: 25%;
    border-radius: 65px;
    margin: left;
    padding: 10px;
    text-align: center;
    color: white;
  }

  .headerbox{
    margin: 20px;
    padding: 20px;
  }
